body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#inscrire {
	background-color: antiquewhite;
	color: black;
	display: inline;
}
a{
	text-decoration:none;
}
.white {
	color: #fff;
}

#deconnexion{
	margin-left: 20px;
}
